body{
	padding:0!important;
	overflow: auto!important;
}
a{
	text-decoration: none!important;
}

li{
	list-style: none;
}

.text-color-grey{color:#373435!important;}
.text-color-blue{color:#3d98d4!important;}
.bg-color-blue{background-color: #3d98d4!important;}
.m-aut{margin:0 auto!important;}



.MuiButton-outlinedPrimary{
	color:#3d98d4!important;
	border:1px solid rgba(61, 152, 212, 0.5);
}
.img-cover{
	width:100%;
	height: 100%;
	object-fit: cover;
	transition:all .5s ease;
}
.img-contain{
	width:100%;
	height:100%;
	object-fit: contain;
	transition:all .5s ease;
}

.nav-link:hover {
	color:#3d98d4!important;
	transition:  all .5s ease;
}

.card-products:hover{
	cursor: pointer;
}

.card-products:hover img{
	transform:scale(1.5);
}

.wrap-cont:hover{
	opacity: 0;
	transition: all .5s ease;
}

.footer-site{
	margin-top:30px;
}

.MuiBadge-badge{
	background-color: #3d98d4!important;
}

.container{
	padding: 20px 0px;
	min-height: 400px;
}

.footer-site .social-list svg{
	fill:#373435;
	cursor: pointer;
	transition: all .5s ease;
}

.footer-site .social-list svg:hover{
	fill:#fefefe;
}

.imgBlur{
	filter:blur(5px);
}

button{
	outline:none!important;
}

.lazy-load-image-background img{
	object-fit: contain;
	width:100%;
	height: 100%;
}
.nav-link{
	padding:0px!important;
}

.product-link-title{
	height: 50px;
	overflow: hidden;
}

.view img{
	object-fit: cover!important;
}

.categories-list li:hover{
	background-color: rgba(61, 152, 212, 5);

}
@media (max-width: 960px) {

	.footer-categories{
		padding-top:15px;
		padding-bottom:10px;
	}
	.footer-site .social-list{
		justify-content: flex-start;
		padding-top: 0px;
		margin-bottom:10px;
	}

	.popular-prod h1{
		font-size:1.6rem;
	}

	.popular-prod p{
		font-size:1.1rem;
	}

}

@media (max-width: 560px) {

	
	.popular-prod h1{
		font-size:1.4rem;
	}

	.popular-prod p{
		font-size:1rem;
	}


}

@media (max-width: 460px) {

	
	.makeStyles-title-5{
		font-size:.9rem!important;
	}
	
	.makeStyles-buttonSign-8{
		font-size:.6rem!important;
	}

}


